ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Calibri Light", sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.banner{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	background-color: #1D1F20;
}
.banner-title{
	font-size:7em;
	font-family:arial;
	background-image:Images/background.png);
	background-size:cover;
	background-position:center;
	background-clip:text;
	-webkit-background-clip:text;
	color:transparent;
}
h2{
    color: wheat;
    text-align: center;
    font-family: Cambria;

}
p {
    text-align: center;
    padding-bottom: 30px;
    font-family: Calibri, serif;
    font-size: 1.2em;
}
table {
    margin: auto;
    border-spacing: 30px;

}
body {
        background-color: #1D1F20;
        color: darkgrey;
}
